.home {
    display: flex;

    .homeContainer {
        flex: 6;

        .featuredContainer {
            padding: 20px;
            display: grid;
            gap: 20px;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto; 
        }

        .chartContainer  {
            padding: 5px 20px;
        }

        .listContainer {
            box-shadow: -1px 9px 33px -1px rgba(168,168,168,0.79);
            -webkit-box-shadow: -1px 9px 33px -1px rgba(168,168,168,0.79);
            -moz-box-shadow: -1px 9px 33px -1px rgba(168,168,168,0.79);
            padding: 20px;
            margin: 20px;
            border-radius: 10px;

            .listTitle {
                font-size: 16px;
                font-weight: 500;
                color: gray;
                margin-bottom: 10px;
            }
        }

    }
}