.home {
    display: flex;

    .homeContainer {
        flex: 6;

        .featuredContainer {
            display: flex;

            .widgets {
                display: flex;
                flex: 1;
                padding: 20px;
                gap: 20px;
            }

            .featured {
                flex: 2;
            }
            
        }

    }
}