.widget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: -1px 9px 33px -1px rgba(168,168,168,0.79);
    -webkit-box-shadow: -1px 9px 33px -1px rgba(168,168,168,0.79);
    -moz-box-shadow: -1px 9px 33px -1px rgba(168,168,168,0.79);
    height: 130px;

    .top {
        display: flex;
        justify-content: space-between;

        .percentage {
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive {
                color: green;
            }

            &.negative {
                color: red;
            }
        }

        .icon {
            font-size: 18px;
            padding: 5px;
            border-radius: 5px;
            align-self: flex-end;
            cursor: pointer;
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;

        .counter {
            font-size: 28px;
            font-weight: 300;
        }

        .title {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 12px;
            color: rgb(160, 160, 160);
            cursor: pointer;
        }
        
    }
}