.navbar {
    height: 50px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

    .wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .search {
            display: flex;
            align-items: center;
            position: relative;

            .searchIcon {
                position: absolute;
                font-size: 20px;
                margin-left: 2px;
            }

            input {
                padding: 5px 50px 5px 25px;
                width: 100%;
                border-radius: 10px;
                outline: none;
                border: 0.5px solid #888;
                background: transparent;

                &::placeholder {
                    font-size: 12px;
                }
            }
        }
        .items {
            display: flex;
            align-items: center;

            .item {
                display: flex;
                align-items: center;
                margin-right: 20px;
                cursor: pointer;
                position: relative;

                .icon {
                    font-size: 20px;
                }

                .counter {
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    font-weight: bold;
                    position: absolute;
                    top: -8px;
                    left: 12px;

                }

                .profilePhoto {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }
        }
    }
}